body {
  background-color: transparent;
  vertical-align: middle;

  background: linear-gradient(90deg, #f2a056, #ce04bf);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
